body {
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
nav {
  background-color: '#ed5151' !important;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
nav,
h1,
h2 {
  font-family: 'Oleo Script', cursive;
}
span,
p,
input,h5,
form {
  font-family: 'Be Vietnam', sans-serif;
}
button {
  font-family: 'Oleo Script', cursive !important;
}
